<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.dengjl.score.dao.SmScoreMapper">
	<resultMap id="BaseResultMap" type="priv.dengjl.score.bean.SmScore">
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="score" jdbcType="DECIMAL" property="score" />
	</resultMap>

	<insert id="addSmScore" parameterType="SmScore">
		insert into sm_score (user_id, score)
		values (#{userId}, #{score})
	</insert>
</mapper>