<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.dengjl.rule.check.confg.dao.RmRuleMapper">
	<resultMap id="BaseResultMap" type="priv.dengjl.rule.check.confg.bean.RmRule">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="class" jdbcType="VARCHAR" property="class" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
	</resultMap>

	<select id="getRmRulesByBusiCode" resultMap="BaseResultMap">
		SELECT t1.* FROM
		rule.rm_rule t1, rule.rm_rule_sence_rel t2, rule.rm_sence t3 where
		t2.rule_id = t1.id
		and t2.sence_id = t3.id and t3.`code` = #{busiCode}
	</select>
</mapper>