<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.dengjl.user.dao.UmUserMapper">
	<resultMap id="BaseResultMap" type="priv.dengjl.user.bean.UmUser">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	
	<insert id="addUmUser" parameterType="UmUser">
		insert into um_user (id, name)
		values (#{id}, #{name})
	</insert>
</mapper>